/node_modules
/public/storage
/public/build
/public/css
/public/css/app.css.map
/public/build/css/app.css.map
/public/js
/public/build/rev-manifest.json
/storage/*.key
/storage/app/public
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/nbproject
*.lock
composer.lock
public/build/css/app.css.map
public/build/rev-manifest.json
public/css/app.css.map
public/js/app.js
public/js/app.js
public/build/css/app.css.map
public/build/rev-manifest.json
public/js/app.js
