/* Custom Styles */
.icon-size-normal {
  font-size: 26px;
  vertical-align: middle;
}
.icon-size-sub {
  font-size: 18px;
  vertical-align: sub;
}
.contact-messge .leave-review input,
.contact-messge .leave-review textarea {
    background: white;
    margin-bottom: 20px;
}
