/* Custom Styles */
.icon-size-normal {
  font-size: 26px;
  vertical-align: middle;
}
.icon-size-sub {
  font-size: 18px;
  vertical-align: sub;
}
.contact-messge .leave-review input,
.contact-messge .leave-review textarea {
    background: white;
    margin-bottom: 0px;
}

/* footer Styles */
//social networks

.socialnet{
margin-top:5%;
margin-left:5%;
}
.socialnet span{
	margin-right: 10%;
}
.socialnet span a:hover{
	
}
.socialnet span a i{
	color: white;
}
