/* Custom Styles */
.icon-size-normal {
    font-size: 26px;
    vertical-align: middle;
}
.icon-size-sub {
    font-size: 18px;
    vertical-align: sub;

}
/* Styles for create and update property form */
.edition .form-edition {
	select {
		background: white;
		border: 1px solid #e1e1e1;
		color: #606060;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 300;
		height: 40px;
		margin-bottom: 20px;
		padding: 0 10px;
		width: 100%;
	}
	select:focus {
		border: 1px solid #95c41f;
	}
	label {
		color: #3b5265;
	}
	input, textarea {
		background: white;
	}
}
.edition .form-edition .input-group {
	margin-bottom: 20px;

	input {
		margin-bottom: 0px;
	}
}
.form-division {
    padding: 10px 0;
    border-bottom: 4px solid #95c41f;
    color: #3b5265;

    i {
        margin-right: 15px;
        vertical-align: text-top;
    }
}
.condition-list > li {
	vertical-align: top;
}

/* CheckBoxes Formularios */
.checkbox {
	width: 200px;
}
.flex-checkboxes {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: baseline;
}
/* Precio inmueble */
.price-item{
	h2 {
		font-family: 'montserrat';
		font-size: 34px;
		font-weight: 400;
		margin-bottom: 0;
		color: #95c41f;
	}
	span {
		color: #1f223e;
	}
	p {
		color: #1f223e;
		font-size: 15px;
		font-weight: 400;
		margin-bottom: 0;
	}
}


/* footer Styles */
//social networks

.socialnet{
	margin-left:0;
	margin-top: 10%;
	span{
		margin-right: 10%;
	}
	span a i{
		color:white;
	}
	span a i:hover{
		color:#95c41f;
	}
}
.boton-registro{
    width: 100%;

}
