<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sheltek || 404</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/icons/favicon.png">

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- nivo slider CSS -->
    <link rel="stylesheet" href="lib/css/nivo-slider.css"/>
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Template color css -->
    <link href="css/color/color-core.css" rel="stylesheet">
    <!-- User style -->
    <link rel="stylesheet" href="css/custom.css">


    <!-- Modernizr JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <!-- Body main wrapper start -->
    <div class="wrapper">
    
        <!-- HEADER AREA START -->
        <header class="header-area header-wrapper">
            <div class="header-top-bar bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="images/logo/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 hidden-sm hidden-xs">
                            <div class="company-info clearfix">
                                <div class="company-info-item">
                                    <div class="header-icon">
                                        <img src="images/icons/phone.png" alt="">
                                    </div>
                                    <div class="header-info">
                                        <h6>+88 (012) 564 979 56</h6>
                                        <p>We are open 9 am - 10pm</p>
                                    </div>
                                </div>
                                <div class="company-info-item">
                                    <div class="header-icon">
                                        <img src="images/icons/mail-open.png" alt="">
                                    </div>
                                    <div class="header-info">
                                        <h6><a href="mailto:hnasir770@gmail.com">info@sheltek.com</a></h6>
                                        <p>You can mail us</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="header-search clearfix">
                                <form action="#">
                                    <button class="search-icon" type="submit">
                                        <img src="images/icons/search.png" alt="">
                                    </button>
                                    <input type="text" placeholder="Search...">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="header-middle-area  transparent-header hidden-xs">
                <div class="container">
                    <div class="full-width-mega-drop-menu">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="sticky-logo">
                                    <a href="index.html">
                                        <img src="images/logo/logo.png" alt="">
                                    </a>
                                </div>
                                <nav id="primary-menu">
                                    <ul class="main-menu text-center">
                                        <li><a href="index.html">Home</a>
                                            <ul class="drop-menu">
                                                <li><a href="index.html">Home-1</a></li>
                                                <li><a href="index-2.html">home-2</a></li>
                                                <li><a href="index-3.html">home-3</a></li>
                                                <li><a href="index-4.html">Background Video</a></li>
                                                <li><a href="index-5.html">Background Video overlay</a></li>
                                                <li><a href="index-6.html">BG Video dot overlay</a></li>
                                                <li><a href="index-7.html">Animated Text</a></li>
                                                <li><a href="index-8.html">Animated Text dot overlay</a></li>
                                                <li><a href="index-9.html">Box layout - 1</a></li>
                                                <li><a href="index-10.html">Box layout - 2</a></li>
                                                <li><a href="index-11.html">Box layout - 3</a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-parent"><a href="#">Elements</a>
                                            <div class="mega-menu-area">
                                                <ul class="single-mega-item">
                                                    <li><a href="elements-accordion.html">Accordion</a></li>
                                                    <li><a href="elements-agent.html">Agent</a></li>
                                                    <li><a href="elements-alerts.html">Alerts</a></li>
                                                    <li><a href="elements-audio.html">Audio</a></li>
                                                    <li><a href="elements-call-to-actions.html">Call-to-actions</a></li>
                                                    <li><a href="elements-contact-1.html">Contact-1</a></li>
                                                    <li><a href="elements-contact-2.html">Contact-2</a></li>
                                                </ul>
                                                <ul class="single-mega-item">
                                                    <li><a href="elements-features.html">Features</a></li>
                                                    <li><a href="elements-footer-1.html">Footer-1</a></li>
                                                    <li><a href="elements-footer-2.html">Footer-2</a></li>
                                                    <li><a href="elements-header-sticky-no.html">Header-sticky-no</a></li>
                                                    <li><a href="elements-header-sticky.html">Header-sticky</a></li>
                                                    <li><a href="elements-map.html">Map</a></li>
                                                    <li><a href="elements-media.html">Media</a></li>
                                                </ul>
                                                <ul class="single-mega-item">
                                                    <li><a href="elements-pagination.html">Pagination</a></li>
                                                    <li><a href="elements-progress-bar.html">Progress-bar</a></li>
                                                    <li><a href="elements-property.html">Property</a></li>
                                                    <li><a href="elements-services.html">Services</a></li>
                                                    <li><a href="elements-sidebar-left-1.html">Sidebar-left-1</a></li>
                                                    <li><a href="elements-sidebar-left-2.html">Sidebar-left-2</a></li>
                                                    <li><a href="elements-sidebar-right-1.html">Sidebar-right-1</a></li>
                                                </ul>
                                                <ul class="single-mega-item">
                                                    <li><a href="elements-sidebar-right-2.html">Sidebar-right-1</a></li>
                                                    <li><a href="elements-tab.html">Tab</a></li>
                                                    <li><a href="elements-table.html">Table</a></li>
                                                    <li><a href="elements-testimonials.html">Testimonials</a></li>
                                                    <li><a href="elements-toggles.html">Toggles</a></li>
                                                    <li><a href="elements-typography.html">Typography</a></li>
                                                    <li><a href="elements-video.html">Video</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="service.html">Service</a>
                                            <ul class="drop-menu">
                                                <li><a href="service.html">Service</a></li>
                                                <li><a href="service-details.html">Service details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="properties.html">Properties</a>
                                            <ul class="drop-menu">
                                                <li><a href="properties.html">Properties</a></li>
                                                <li><a href="properties-left-sidebar.html">Properties left sidebar</a></li>
                                                <li><a href="properties-right-sidebar.html">Properties right sidebar</a></li>
                                                <li><a href="properties-details.html">Properties details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="agent.html">Agent</a>
                                            <ul class="drop-menu">
                                                <li><a href="agent.html">Agent</a></li>
                                                <li><a href="agent-details.html">Agent details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Pages's</a>
                                            <ul class="drop-menu menu-right">
                                                <li><a href="about.html">About</a></li>
                                                <li><a href="agent.html">Agent</a></li>
                                                <li><a href="agent-details.html">Agent-details</a></li>
                                                <li><a href="features.html">Features</a></li>
                                                <li><a href="service.html">Service</a></li>
                                                <li><a href="service-details.html">Service details</a></li>
                                                <li><a href="login.html">Login</a></li>
                                                <li><a href="404.html">404</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="blog.html">Blog</a>
                                            <ul class="drop-menu menu-right">
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                                                <li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
                                                <li><a href="single-blog.html">Single Bloge</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER AREA END -->

        <!-- MOBILE MENU AREA START -->
        <div class="mobile-menu-area hidden-sm hidden-md hidden-lg">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul>
                                    <li><a href="index.html">Home</a>
                                        <ul>
                                            <li><a href="index.html">Home-1</a></li>
                                            <li><a href="index-2.html">home-2</a></li>
                                            <li><a href="index-3.html">home-3</a></li>
                                            <li><a href="index-4.html">Background Video</a></li>
                                            <li><a href="index-5.html">Background Video overlay</a></li>
                                            <li><a href="index-6.html">BG Video dot overlay</a></li>
                                            <li><a href="index-7.html">Animated Text</a></li>
                                            <li><a href="index-8.html">Animated Text dot overlay</a></li>
                                            <li><a href="index-9.html">Box layout - 1</a></li>
                                            <li><a href="index-10.html">Box layout - 2</a></li>
                                            <li><a href="index-11.html">Box layout - 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="service.html">Service</a>
                                        <ul>
                                            <li><a href="service.html">Service</a></li>
                                            <li><a href="service-details.html">Service details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="properties.html">Properties</a>
                                        <ul>
                                            <li><a href="properties.html">Properties</a></li>
                                            <li><a href="properties-left-sidebar.html">Properties left sidebar</a></li>
                                            <li><a href="properties-right-sidebar.html">Properties right sidebar</a></li>
                                            <li><a href="properties-details.html">Properties details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Pages</a>
                                        <ul>
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="agent.html">Agent</a></li>
                                            <li><a href="agent-details.html">Agent-details</a></li>
                                            <li><a href="features.html">Features</a></li>
                                            <li><a href="service.html">Service</a></li>
                                            <li><a href="service-details.html">Service details</a></li>
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="404.html">404</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog.html">Blog</a>
                                        <ul>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                                            <li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
                                            <li><a href="single-blog.html">Single Bloge</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MOBILE MENU AREA END -->

        <!-- Start page content -->
        <section id="page-content" class="page-wrapper">

            <!-- ERROR AREA START -->
            <div class="error-area ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="error-content ">
                                <h2>404</h2>
                                <h3>Page not found!</h3>
                                <h4>Oops! Looks like something going rong</h4>
                                <p>We can’t seem to find the page you’re looking for <br>
                                    make sure that you have typed the currect URL</p>
                                <a class="go-home" href="index.html">Go to home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ERROR AREA END -->
        </section>
        <!-- End page content -->
    </div>
    <!-- Body main wrapper end -->




    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script src="js/vendor/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Nivo slider js -->    
    <script src="lib/js/jquery.nivo.slider.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="js/plugins.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="js/main.js"></script>

</body>

</html>